body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

 img{
    height: auto;
    width: auto;
}
.header{ 
height: 5%;
width: auto;
background-color: blue;
text-align: center;
}
.container{
    display: flex;
    height: 95%;
    width: auto;
    flex-wrap: wrap;
}
.divayuda{
 flex: 1 1 calc(33,33% - 10px);
    background-color: rgb(150, 65, 8);
    flex-wrap: wrap;
    text-align: center;
    background-image: url("https://loremflickr.com/320/240");
    background-size: cover;
}
.aside{
    flex: 1;
    background-color: rgb(150, 65, 8);
    flex-wrap: wrap;
    text-align: center;
    background-image: url("https://loremflickr.com/320/240");
    background-size: cover;
}
.divPrincipal{ 
    flex: 1;
  background-color: rgb(95, 150, 8);
  flex-wrap: wrap;
  background-image: url("https://loremflickr.com/320/240");
  background-size: cover;
}
.footer{
    height: 5%;
    width: auto;
    background-color: blue;
    text-align: center;
}

@media(min-width: 640px){
.container{
    flex-direction: row;
}


}