body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container div img{
    object-fit: cover;
    height: auto;
    width: auto;
}
.header{ 
    display: flex;
height: auto;
width: auto;
background-color: rgb(1, 1, 5);
justify-content:  center;
align-items: center;
border: 7px solid rgb(46, 45, 45);
}
.container{
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}
h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serifç;
    background: linear-gradient(to right, rgb(19, 90, 36), rgb(11, 121, 17), rgb(1, 153, 9), rgb(0, 255, 55));
    background-clip: text;
    --webkit-background-clip:text;
    color: transparent;
}
.container div{ 
    flex: 1 1 calc(33,33%);
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 8.5%;
  width: auto;
  border: 5px solid black;
  box-shadow: 60px -16px rgb(0, 0, 0);
}

.divabajo{
 flex: 1 1 calc(33,33%);
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 9%;
  margin-bottom: 2%;
  width: auto;
  border: 5px solid black;
}
@media(max-width: 640px){
.container{
    display: block;
    flex-wrap: wrap;
}
.container div{
   margin-top: 30%;
   margin-left: 0%;
    width: 300px;
}
.divabajo{
    margin-top: 30%;
    margin-bottom: 30%;
}
}